<section id="about">
    <div class="about-header">
      <h2>Un poco sobre mí</h2>
      <p>Me llamo Daniel Sánchez García, soy un programador web...</p>
    </div>
    <div class="skills-container">
      <h2 class="skills-title">Skills</h2>
      <div class="skills-cards">
        <div class="skill-card">
          <h3>Diseño 3D</h3>
          <ul>
            <li>Maya</li>
            <li>Blender</li>
            <li>Unity</li>
          </ul>
        </div>
        <div class="skill-card">
          <h3>Diseño</h3>
          <ul>
            <li>Photoshop</li>
            <li>Substance Painter</li>
            <li>Figma</li>
            <li>Krita</li>
          </ul>
        </div>
        <div class="skill-card">
          <h3>Desarrollo</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
            <li>Angular</li>
            <li>Python</li>
            <li>JavaScript</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
    </div>
</section>
